body {
    font-family: Arial, sans-serif;
    background-image: url(imagenes/fondo3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.container {
    background: #3d7e4888;
    height: 550px;
  
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
.display input {
    width: 100%;
    height: 70px;
    font-size: 32px;
    text-align: right;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background: #3ffc5e9a;
    color: #ffffff;
    box-sizing: border-box;
}


.botones {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}


button {
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    
}
.numero {
    background: #ffffff;
    color: rgb(0, 0, 0);
}



.operador {
    background: #055710;
    color: white;
}

button:hover {
    opacity: 0.5;
}
button.operador:nth-last-child(1) {
    grid-column: span 2;
    background: #04553abd;
}
